body {
  background-color: #feca84;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#logo {
  max-width: 100%;
  height: 400px;
  margin-top: 10px;
  position: absolute;
  transform: rotate(-12deg);
  left: 380px;
  top: 7px;
}

#screenshots {
  text-align: center;
  height: 400px;
  width: 400px;
}

header {
  background-color: #2d2b2b;
  padding: 16px 0;
  font-family: "Fuzzy Bubbles", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 16px;
  transition: transform 0.3s ease-in-out;
}

header nav ul li:hover {
  transform: translateY(-8px);
}

header nav ul li a {
  color: white;
  text-decoration: underline;
  font-size: 19.2px;
}

.hero {
  background-color: #feca84;
  padding: 400px 0;
  text-align: center;
  margin-top: 48px;
}

.hero-content h1 {
  font-size: 65px;
  font-family: "Fuzzy Bubbles", sans-serif;
  margin: 0;
  color: #d85f27;
}

.hero-content p {
  font-size: 24px;
  font-family: "Fuzzy Bubbles", sans-serif;
  margin: 16px;
}

.cta-button {
  background-color: #007bff;
  color: #fff;
  font-family: "Fuzzy Bubbles", sans-serif;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 5px;
}

.features,
.about,
.contact {
  padding: 80px 32px;
  text-align: center;
}

.features h2,
.about h2,
.contact h2 {
  font-size: 60px;
  margin-bottom: 32px;
  font-family: "Fuzzy Bubbles", sans-serif;
  color: #ff6e00;
}

.feature-item {
  margin-bottom: 32px;
}

.feature-item h3 {
  font-size: 28.8px;
  margin-bottom: 16px;
}

h4 {
  color: #ff6e00;
  font-size: 25px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form label {
  margin: 8px 0;
  font-size: 19.2px;
}

.contact form input,
.contact form textarea {
  padding: 8px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 16px;
}

.contact form button {
  background-color: #007bff;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 16px 0;
}
